{% extends "base.html.j2" %}

{% block head %}
<title>Plotly Penguins</title>
{% endblock %}

{% block body %}
<h1>Plotly Penguins</h1>
<a href="/glossary/">Glossary</a>
<br>
<a href="/histograms/">Histograms</a>
<br>
<a href="/linear_regression/">Linear regression</a>
<br>
<a href="/multiple_regression/">Multiple regression</a>
{% endblock %}
