{% extends "base.html.j2" %}

{% block head %}
<title>Plotly Penguins</title>
{% endblock %}

{% block body %}
<div id="container">
  <div id="main-heading">
    <h1>Plotly Penguins</h1>
  </div>
  <div id="urls">
    <div class="url">
      <a href="/glossary/">Glossary</a>
    </div>
    <br>
    <div class="url">
      <a href="/histograms/">Histograms</a>
    </div>
    <br>
    <div class="url">
      <a href="/linear_regression/">Linear regression</a>
    </div>
    <br>
    <div class="url">
      <a href="/multiple_regression/">Multiple regression</a>
    </div>
  </div>
</div>
{% endblock %}
